.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  img {
    width: 300px;
    height: auto;
  }
  a {
    color: rgb(185, 185, 185)
  }
}

.url {
  color: #eee;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
}

.link {
  margin: 0 5px;
}

.type {
  margin: 20px 0;
}