@import 'styles/Var.module.scss';

.show {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.byType {
  // border: 1px solid red;
  background-color: $bg-dim;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}
.byTypeWrapper {
  margin-top: 10px;
}
.title {
  // border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: $nd-dim;
  color: $main-text;
  flex-grow: 1;
  cursor: pointer;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  span {
    border-radius: 2px;
    border: none;
    background-color: $bg-dim;
    color: $main-text;
    cursor: pointer;
    margin-left: 10px;
    color: $main-text-dim;
  }
  .title {
    flex-grow: 1;
  }
}
.byQuality {
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid $nd;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.title2 {
  margin-right: 5px;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  font-size: 14px;
}

.downloadUrl {
  margin: 2px 3px;
  a {
    color: $nd;
  }
  a:active {
    color: $nd;
  }
}
