@import 'styles/Var.module.scss';

.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.stream {
  width: 100%;
  height: calc(9 / 16 * 100vw);
  top: 50px;
}

.title {
  color: $main-text;
  text-align: center;
  margin: 15px 0;
}

.server {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
  button {
    padding: 5px 10px;
    background-color: $nd;
    color: $main-text;
    border-radius: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  button {
    padding: 15px 20px;
    background-color: $nd;
    border-radius: 10px;
    margin: 0 1px;
    color: $main-text;
    border: none;
    cursor: pointer;
  }
}
.navigationRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  button {
    padding: 15px 20px;
    background-color: $nd;
    border-radius: 10px;
    margin: 0 1px;
    color: $main-text;
    border: none;
    cursor: pointer;
  }
}
.button {
  padding: 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  overflow: auto;
  max-width: 100vw;
  justify-content: space-between;
  padding: 10px;
  height: calc(100vh - 57vw - 50px);
}

.hidden {
  display: none;
}
.navWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  max-height: 100%;
  align-items: flex-start;
}
.downloadURL {
  padding: 4px;
  color: $main-text;
  width: 85vw;
  height: 100%;
  overflow: auto;
  margin: auto;
  flex-grow: 1;
  max-height: max-content;

  button {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: $nd;
    color: $main-text;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
}

.show {
  width: 100%;
  max-width: 85vw;
}

.showLoading {
  height: 200px;
}

.episodes {
  max-height: 47vh;
  overflow: auto;
}

.epsOdd {
  background-color: $nd;
}
.epsEven {
  background-color: $nd-dim;
}

.epsEven,
.epsOdd,
.epsCurrent {
  padding: 10px 10px;
  cursor: pointer;
  color: $main-text;
}
.epsOdd:hover {
  color: $bg;
  background-color: $second-text;
}
.epsEven:hover {
  color: $bg;
  background-color: $second-text;
}
.epsCurrent {
  background-color: $second-text;
  color: $bg;
}
.selected {
  background-color: $second-text;
  color: $bg;
}

.nonselected {
  background-color: $bg-dim;
  color: $main-text;
}

.selector {
  width: 70%;
  text-align: left;
  padding: 7px;
  background-color: $bg-light;
  color: $main-text;
  border-radius: 3px;
}

.searchEpisode {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1000px) {
  .navWrapper {
    justify-content: flex-end;
  }
  .stream {
    height: 93vh;
    width: 80vw;
    padding: 15px 0 0 15px;
  }
  .nav {
    min-height: 93vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18vw;
    margin: 0 1vw;
  }
  .mainContainer {
    flex-direction: row;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .downloadURL {
    width: 100%;
  }
}
