.stream {
  width: auto;
  height: 45vh;
}

.title {
  color: #eee;
  text-align: center;
  margin: 15px 0;
}

.server {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 5px 10px;
    background-color: rgb(105, 105, 105);
    color: #eee;
    border-radius: 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  button {
    padding: 15px 20px;
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    margin: 0 1px;
    color: #eee;
    border: none;
    cursor: pointer;
  }
}
.navigationRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  button {
    padding: 15px 20px;
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    margin: 0 1px;
    color: #eee;
    border: none;
    cursor: pointer;
  }
}
.button {
  padding: 0 20px;
  max-width: 400px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  height: 40vh;
  margin: auto;
}

.hidden {
  display: none;
}

.downloadURL {
  padding: 4px;
  color: #eee;

  button {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}

.show {
  width: 100%;
}

.showLoading {
  height: 200px;
}

.episodes {
  height: 500px;
  overflow: auto;
}

.epsOdd {
  background-color: rgb(54, 54, 54);
}
.epsEven {
  background-color: rgb(80, 80, 80);
}

.epsEven,
.epsOdd {
  padding: 10px 10px;
  cursor: pointer;
}
.epsOdd:hover {
  color: rgb(49, 49, 49);
  background-color: rgb(255, 212, 160);
}
.epsEven:hover {
  color: rgb(49, 49, 49);
  background-color: rgb(255, 212, 160);
}

@media only screen and (min-width: 768px) {
  .stream {
    height: 80vh;
  }
  .nav {
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
  }
}
